@page "/dashboard/potentials"
@using Degenesis.Shared.DTOs.Characters

<h3>Potentials</h3>

@if (Potentials is null)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else
{
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowCreateDialog">Create New Potential</MudButton>
    <MudTable Items="@Potentials"
              Hover="true"
              SortLabel="Sort By"
              Dense="true"
              LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<PotentialDto, object>(x => x.Name)"
                                   InitialDirection="SortDirection.Ascending">
                    Name
                </MudTableSortLabel>
            </MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Cult</MudTh>
            <MudTh>Prerequisites</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.Description</MudTd>
            <MudTd>@(context.Cult != null ? context.Cult.Name : "-")</MudTd>
            <MudTd>
                @if (context.Prerequisites.Any())
                {
                    @string.Join(" | ", context.Prerequisites.Select(GetPrerequisiteLabel))
                }
                else
                {
                    <span>No Prerequisites</span>
                }
            </MudTd>
            <MudTd>
                <MudButton OnClick="() => ShowEditDialog(context.Id)" Color="Color.Primary">Edit</MudButton>
                <MudButton OnClick="() => DeletePotential(context.Id)" Color="Color.Error">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}