@page "/dashboard/ranks"
@using Degenesis.Shared.DTOs.Characters.CRUD

<h3>Ranks</h3>

@if (Ranks is null)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else
{
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowCreateDialog">Create New Rank</MudButton>
    <MudTable Items="@Ranks"
              Hover="true"
              SortLabel="Sort By"
              Dense="true"
              LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<RankDto, object>(x => x.Name)"
                                   InitialDirection="SortDirection.Ascending">
                    Name
                </MudTableSortLabel>
            </MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Equipment</MudTh>
            <MudTh>Cult</MudTh>
            <MudTh>Prerequisites</MudTh>
            <MudTh>Parent Rank</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.Description</MudTd>
            <MudTd>@context.Equipment</MudTd>
            <MudTd>@context.Cult.Name</MudTd>
            <MudTd>
                @if (context.Prerequisites.Any())
                {
                    @string.Join(" | ", context.Prerequisites.Select(GetPrerequisiteLabel))
                }
                else
                {
                    <span>No Prerequisites</span>
                }
            </MudTd>
            <MudTd>@(context.ParentRank != null ? context.ParentRank.Name : "-")</MudTd>
            <MudTd>
                <MudButton OnClick="() => ShowEditDialog(context.Id)" Color="Color.Primary">Edit</MudButton>
                <MudButton OnClick="() => DeleteRank(context.Id)" Color="Color.Error">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}
