@page "/burns"
@using Degenesis.Shared.DTOs.Burns
@layout Layout.DashBoardLayout

<h3>Burns</h3>

@if (burns is null)
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
}
else
{
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ShowCreateDialog()">Create New Burn</MudButton>

    <MudTable Items="@burns" Hover="true" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Chakra</MudTh>
            <MudTh>Earth Chakra</MudTh>
            <MudTh>Effect</MudTh>
            <MudTh>Weak Cost</MudTh>
            <MudTh>Potent Cost</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Chakra">@context.Chakra</MudTd>
            <MudTd DataLabel="Earth Chakra">@context.EarthChakra</MudTd>
            <MudTd DataLabel="Effect">@context.Effect</MudTd>
            <MudTd DataLabel="Weak Cost">@context.WeakCost</MudTd>
            <MudTd DataLabel="Potent Cost">@context.PotentCost</MudTd>
            <MudTd>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => ShowEditDialog(context.Id)">Edit</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="() => DeleteBurn(context.Id)">Delete</MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}