@page "/burns"
@using Degenesis.Shared.DTOs.Burns
@using Degenesis.UI.Service.Features
@inject BurnService BurnService

<h3>Burns</h3>

<button class="btn btn-primary" @onclick="ShowCreateDialog">Create New Burn</button>

@if (burns == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Chakra</th>
                <th>Earth Chakra</th>
                <th>Effect</th>
                <th>Weak Cost</th>
                <th>Potent Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var burn in burns)
            {
                <tr>
                    <td>@burn.Name</td>
                    <td>@burn.Description</td>
                    <td>@burn.Chakra</td>
                    <td>@burn.EarthChakra</td>
                    <td>@burn.Effect</td>
                    <td>@burn.WeakCost</td>
                    <td>@burn.PotentCost</td>
                    <td>
                        <button class="btn btn-info" @onclick="() => ShowEditDialog(burn.Id)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => DeleteBurn(burn.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Modal réutilisable -->
<BurnModal Title="@modalTitle"
          Burn="@currentBurn"
          IsVisible="@isModalVisible"
          IsVisibleChanged="@(value => isModalVisible = value)"
          OnSave="SaveBurn"
          OnCancel="CloseModal" />