@if (room is null)
{
    <MudProgressCircular />
}
else
{
    <MudText Typo="Typo.subtitle1">GM: @room.GMName</MudText>
    <MudText Typo="Typo.subtitle2">Players: @string.Join(", ", room.Players)</MudText>

    <MudDivider Class="my-2" />

    <MudChat>
        @foreach (var msg in messages)
        {
            <MudChatBubble ChatPosition="@(msg.Sender == userName ? ChatBubblePosition.End : ChatBubblePosition.Start)">
                <b>@msg.Sender:</b> @msg.Text
            </MudChatBubble>
        }
    </MudChat>

    <div class="mt-2 d-flex">
        <MudTextField @bind-Value="currentMessage"
                      Placeholder="Type a message..."
                      Immediate="true"
                      Class="flex-grow-1" />
        <MudButton OnClick="SendMessage"
                   Color="Color.Primary"
                   Class="ml-2">Send</MudButton>
    </div>
}